.NavBar {
    color: var(--light);
    background-color: var(--fjord);
    padding-left: 1rem;
    padding-right: 1rem;
}

.Container {
    max-width: var(--max_container_width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

