.Header {
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: relative;
    padding: 0 1rem;
    background-color: var(--fjord);
    z-index: 100;
}

.Header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20%;
    height: 20%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.0));
    z-index: -1;
}

.Header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.4));
    z-index: 101;
}

