.Link {
    position: relative;
    font-weight: bold;
    color: var(--light);
    padding: .75rem;
    cursor: pointer;
    text-decoration: none;
}

.Link:hover::after {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

.Link.Dark:hover::after {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.2);
}

.Outline {
    border: 3px solid var(--light);
    border-radius: 5px;
}

.Outline:hover::after, .Outline.Dark:hover::after {
    top: -3px;
    right: -3px;
    left: -3px;
    bottom: -3px;
}

.Primary {
    color: var(--primary);
    border-color: var(--primary);
}

.Secondary {
    color: var(--secondary);
    border-color: var(--secondary);
}

.Success {
    color: var(--success);
    border-color: var(--success);
}

.Info {
    color: var(--info);
    border-color: var(--info);
}

.Warning {
    color: var(--warning);
    border-color: var(--warning);
}

.Danger {
    color: var(--danger);
    border-color: var(--danger);
}

.Light {
    color: var(--light);
    border-color: var(--light);
}

.Dark {
    color: var(--dark);
    border-color: var(--dark);
}

.Flat {
    border-radius: 5px;
    color: var(--light);
}

.Pill {
    border-radius: 20px;
    color: var(--light);
    padding: .75rem 1rem;
}

.Pill:hover::after {
    border-radius: 20px;
}

.Flat.Primary, .Pill.Primary {
    background-color: var(--primary);
}

.Flat.Secondary, .Pill.Secondary {
    background-color: var(--secondary);
}

.Flat.Success, .Pill.Success {
    background-color: var(--success);
}

.Flat.Info, .Pill.Info {
    background-color: var(--info);
}

.Flat.Warning, .Pill.Warning {
    background-color: var(--warning);
}

.Flat.Danger, .Pill.Danger {
    background-color: var(--danger);
}

.Flat.Light, .Pill.Light {
    color: var(--dark);
    background-color: var(--light);
}

.Flat.Dark, .Pill.Dark {
    background-color: var(--dark);
}
