:root {
    /* Raw color values */
    /* Option 1 */
    --athens_gray: #F5F5F7;
    --sage: #96A285;
    --danube: #2994CD;
    --salt_box: #775177;
    --fjord: #445269;
    --aqua_forest: #54A777;
    --raw_sienna: #D1973F;
    --pomegranate: #f44336;

    /* some alternate accent colors */
    --rum: #856684;
    --martinique: #36325C;

    /* Theme color values */
    --primary: var(--danube);
    --secondary: var(--sage);
    --default: var(--sage);
    --danger: var(--pomegranate);
    --info: var(--fjord);
    --success: var(--aqua_forest);
    --warning: var(--raw_sienna);
    --dark_accent: var(--salt_box);
    --dark: var(--martinique);
    --light: var(--athens_gray);

    --max_container_width: 1600px;
}
