:root {
  /* Raw color values */
  /* Option 1 */
  --athens_gray: #F5F5F7;
  --sage: #96A285;
  --danube: #2994CD;
  --salt_box: #775177;
  --fjord: #445269;
  --aqua_forest: #54A777;
  --raw_sienna: #D1973F;
  --pomegranate: #f44336;

  /* some alternate accent colors */
  --rum: #856684;
  --martinique: #36325C;

  /* Rgb conversions to be able to use alpha */
  --rgb_fjord: 68, 82, 105;
  --rgb_rum: 133, 102, 132;
  --rgb_martinique: 54, 50, 92;

  /* Theme color values */
  --primary: var(--danube);
  --secondary: var(--sage);
  --default: var(--sage);
  --danger: var(--pomegranate);
  --info: var(--fjord);
  --success: var(--aqua_forest);
  --warning: var(--raw_sienna);
  --dark_accent: var(--salt_box);
  --dark: var(--martinique);
  --light: var(--athens_gray);

  --max_container_width: 1600px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
