.button {
    background-color: #2563eb;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: .5rem;
}

.button:hover {
    background-color: #1452da;
}

.button:active {
    background-color: #0341c9;
}
