.AuthModal {
    padding: 1.5rem 1rem .5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
}

.InputGroup {
    margin-top: 0.5rem;
}

.ForgotPassword {
    margin-top: 1rem;
}

.SubmitButton {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
}
